* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.hero {
  color: #f9faf8;
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 120px;
}

.hero .logo {
  font-size: 24px;
  font-weight: 700;
}

.hero .links {
  display: flex;
  gap: 10px;
}

.hero .links a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero .container {
  display: flex;
  margin: 120px;
  gap: 120px;
}

.hero .container .title {
  font-size: 48px;
  font-weight: 900;
}

.hero .container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero .container .left .container {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 20px;
}

.hero .container .text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero button {
  border: 0;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  padding: 7px;
  width: 90px;
  border-radius: 5px;
}

.players > .text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 60px;
}

.players .container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 100px;
}

.players .container img {
  border: 3px solid #3882f6;
  border-radius: 20px;
  width: 225px;
  height: 225px;
}

.players .container .text {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 512px;
  padding: 0 250px;
  gap: 20px;
}

.quote .text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote .author {
  font-weight: 900;
  align-self: flex-end;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 0 100px;
}

.sign-up .ad {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 240px;
}

.sign-up .title {
  color: #f9faf8;
  font-weight: 900;
  font-size: 24px;
}

.sign-up .text {
  color: #e5e7eb;
}

.sign-up button {
  border: 1px solid #f9faf8;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  padding: 7px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  flex: 0 0 auto;
}
